/dynarray-skeleton.c
/dynarray.h
/dynarray_at_failure.c
/dynarray_emplace_enlarge.c
/dynarray_finalize.c
/dynarray_resize.c
/dynarray_resize_clear.c
/scratch_buffer.h
/scratch_buffer_dupfree.c
/scratch_buffer_grow.c
/scratch_buffer_grow_preserve.c
/scratch_buffer_set_array_size.c
