build-aux/ar-lib linguist-vendored
build-aux/compile linguist-vendored
build-aux/config.guess linguist-vendored
build-aux/config.rpath linguist-vendored
build-aux/config.sub linguist-vendored
build-aux/depcomp linguist-vendored
build-aux/git-version-gen linguist-vendored
build-aux/gitlog-to-changelog linguist-vendored
build-aux/install-sh linguist-vendored
build-aux/ltmain.sh linguist-vendored
build-aux/mdate-sh linguist-vendored
build-aux/missing linguist-vendored
build-aux/test-driver linguist-vendored
build-aux/texinfo.tex linguist-vendored
config.guess linguist-vendored
config.sub linguist-vendored
install-sh linguist-vendored
m4/ax_c___attribute__.m4 linguist-vendored
m4/getpagesize.m4 linguist-vendored
ChangeLog    merge=cl-merge
