*~
*.bak
*.bootstrap*.*
*.cache
*.dirstamp
*.exe
*site.exp
*.log
*.munged_for_texi_inclusion
*.o
*.status
*.sum
*.tar.gz
*.tmp
*.version
*/*/*deps/*.*o
*/*deps/*.*o
*deps/*.*o
*stamp-h*
*DS_Store*
/ABOUT-NLS~
/GNUmakefile
/maint.mk
Makefile
po/Makefile.in
po/.reference/*.*o
po/.reference/*.s1
src/build_info.c
src/config.h
src/Makefile
build-aux/git-merge-changelog
confdefs.h
conftest.*
doc/Makefile
doc/version.texi
test*/Makefile
test*/WgetTest.pm
test*/core.*
test*/unit-tests
test*/Test*/*
tmpwrk*/*
intl/*
lib/git-merge-changelog
lib/libgnu.a
lib/Makefile
m4/gnulib-cache.m4
util/Makefile
*(Autosaved)*
