*(Autosaved)*
*.bak
*.bootstrap*.*
*.cache
*.dirstamp
*.exe
*.log
*.munged_for_texi_inclusion
*.o
*.status
*.sum
*.tar.gz
*.tmp
*.version
*/*/*deps/*.*o
*/*deps/*.*o
*DS_Store*
*deps/*.*o
*site.exp
*stamp-h*
*~
/.DS_Store
/ABOUT-NLS~
/GNUmakefile
/maint.mk
Makefile
build-aux/git-merge-changelog
confdefs.h
conftest.*
doc/Makefile
doc/version.texi
intl/*
lib/Makefile
lib/Makefile.in
lib/git-merge-changelog
lib/libgnu.a
m4/gnulib-cache.m4
po/.reference/*.*o
po/.reference/*.s1
po/Makefile.in
src/Makefile
src/build_info.c
src/config.h
test*/Makefile
test*/Test*/*
test*/WgetTest.pm
test*/core.*
test*/unit-tests
tmpwrk*/*
util/Makefile
