/test-version-etc.c
/test-version-etc.sh
/test-update-copyright.sh
/macros.h
/signature.h
/test-getline.c
/test-getopt.h
/test-ioctl.c
/test-open.c
/test-open.h
/test-fnmatch.c
unit-tests
*~
*.bak
core*
*.o
site.exp
*.tab.c
WgetTest.pm
Makefile
/_Noreturn.h
/arg-nonnull.h
/c++defs.h
/dummy.c
/init.sh
/test-getopt-main.h
/test-getopt-posix.c
/unused-parameter.h
/warn-on-use.h
