*.gmo
*.insert-header
*.mo
*.new.po
/Makefile.in.in
/Makefile.in.in~
/Makevars.template
/Makevars.template~
/Rules-quot
/Rules-quot~
/boldquot.sed
/quot.sed
Makefile
Makefile.in
POTFILES
core.*
remove-potcdate.sed
stamp-poT
wget.*po
