
*.insert-header
Makefile
Makefile.in
/Makefile.in.in
/Makefile.in.in~
/Makevars.template
/Makevars.template~
/Rules-quot
/Rules-quot~
/boldquot.sed
/quot.sed
remove-potcdate.sed
stamp-poT
core.*
wget.*po
*.new.po
